{
	"parserOptions":{
		"ecmaVersion":7,
		"sourceType":"module"
	},
	"env":{
		"es6":		true,
		"browser":false,
		"node":		true
	},
	"extends":"eslint:recommended",
	"rules":{
		"no-case-declarations":"off",
		"strict":[
			"warn",
			"global"
		],
		"indent":[
			"warn",
			2,
			{
				"SwitchCase":1
			}
		],
		"quotes":[
			"off",
			"double"
		],
		"no-spaced-func":1,
		"space-before-blocks":[
			"warn",
			"never"
		],
		"linebreak-style":[
			"error",
			"unix"
		],
		"semi":[
			"error",
			"always"
		],
		"eqeqeq":"warn",
		"no-undef":"warn",
		"no-sync":"error",
		"no-unneeded-ternary":"warn",
		"no-unreachable":"warn",
		"no-unused-expressions":"warn",
		"no-unused-vars":[
			"warn",
			{
				"vars":"all",
				"args":"after-used"
			}
		],
		"prefer-arrow-callback":"warn",
		"quote-props":[
			"warn",
			"consistent-as-needed"
		],
		"valid-jsdoc":"error",
		"valid-typeof":"error",
		"no-console":"warn"
	}
}
